{% extends 'base.html' %}

{% block content %}
  <br>
  <h1>{{ person.username }}의 프로필</h1>
  <div>
    {% if request.user != person %}
      <form action="{% url 'accounts:follow' person.pk %}" method="POST">
        {% csrf_token %}
            <span>팔로잉 수 : {{ person.followings.all|length }} / 팔로워 수 : {{ person.followers.all|length }}</span>
        {% if request.user in person.followers.all %}
          <button class="btn btn-link text-danger ms-0 ps-0">
            <i class="fas fa-heart"></i>
          </button>
        {% else %}
          <button class="btn btn-link ms-0 ps-0">
            <i class="far fa-heart"></i>
          </button>
        {% endif %}
      </form>
    {% endif %}
  </div>
  <br>
  <div>
    <p>이름 : {{ person.username }}</p>
    <p>이메일 : {{ person.email }}</p>
  </div>
  <hr>
  <h4>작성 게시글</h4>
  <ul>
    {% for article in person.article_set.all %}
      <li>{{ article }} (<i class="far fa-heart"></i> {{ article.like_users.all|length }}개)</li>
    {% endfor %}
  </ul>
  <hr>
  <h4>작성 댓글</h4>
  <ul>
    {% for comment in person.comment_set.all %}
      <li>{{ comment }} (to {{ comment.article }})</li>
    {% endfor %}
  </ul>
{% endblock content %}
